In [6]:
'''
1. Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:
The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below
i 1 2 3 4 5 6 7 8 9 10
===== == == == == == == == == == ==
Input 10 20 30 40 50 60 70 80 90 100
y1 25 = (10+20+30+40)/4
y2 35 = (20+30+40+50)/4
y3 45 = (30+40+50+60)/4
y4 55 = (40+50+60+70)/4
y5 65 = (50+60+70+80)/4
y6 75 = (60+70+80+90)/4
y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.
'''

import numpy as np
dataset = np.asarray([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
sun = list()
window = 4
for x in range(0, len(dataset)):
    if x+window <= len(dataset):
        indices = range(x, x+window)
        sun.append(np.average(np.take(dataset, indices)))
else:
    sun = np.asarray(sun)
    
print(sun)

[25. 35. 45. 55. 65. 75. 85.]

In [4]:
'''
2. Write a function to find moving average in an array over a window:
Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.
'''

def moving_mean(x, N):
    out = np.zeros_like(x, dtype=np.float64)
    dim_len = x.shape[0]
    for i in range(dim_len):
        if N%2 == 0:
            a, b = i - (N-1)//2, i + (N-1)//2 + 2
        else:
            a, b = i - (N-1)//2, i + (N-1)//2 + 1

        #cap indices to min and max indices
        a = max(0, a)
        b = min(dim_len, b)
        out[i] = np.mean(x[a:b])
    return out

l = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
moving_mean(np.array(l), 3)

array([  4.        ,   5.        ,   4.66666667,   5.66666667,
         6.66666667,   9.66666667,  28.66666667,  49.33333333,
        72.66666667,  84.        ,  93.33333333, 116.33333333,
       125.        ])

In [2]:
'''
3. How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
'''
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df['Y'] = 7- df['X']
df

   X  Y
0  7  0
1  2  5
2  0  7
3  3  4
4  4  3
5  2  5
6  5  2
7  0  7
8  3  4
9  4  3

In [7]:
'''
4. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.
'''
import numpy as np

date = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=date)
s

2015-01-01    0.408730
2015-01-02    0.924939
2015-01-05    0.134808
2015-01-06    0.820583
2015-01-07    0.627791
2015-01-08    0.570152
2015-01-09    0.001525
2015-01-12    0.981390
2015-01-13    0.567102
2015-01-14    0.292032
2015-01-15    0.625522
2015-01-16    0.864082
2015-01-19    0.070163
2015-01-20    0.153047
2015-01-21    0.835364
2015-01-22    0.526456
2015-01-23    0.496802
2015-01-26    0.073782
2015-01-27    0.849846
2015-01-28    0.810984
2015-01-29    0.604084
2015-01-30    0.523299
2015-02-02    0.812740
2015-02-03    0.509644
2015-02-04    0.436940
2015-02-05    0.666427
2015-02-06    0.588600
2015-02-09    0.472956
2015-02-10    0.271689
2015-02-11    0.505034
                ...
2015-11-20    0.059750
2015-11-23    0.906673
2015-11-24    0.443363
2015-11-25    0.620590
2015-11-26    0.661345
2015-11-27    0.638986
2015-11-30    0.130713
2015-12-01    0.245093
2015-12-02    0.876493
2015-12-03    0.572556
2015-12-04    0.385496
2015-12-07    0.229221
2015-12-08    0.772559
2015-12-09    0.444057
2015-12-10    0.400341
2015-12-11    0.401492
2015-12-14    0.788222
2015-12-15    0.007977
2015-12-16    0.854400
2015-12-17    0.255156
2015-12-18    0.531765
2015-12-21    0.997824
2015-12-22    0.633177
2015-12-23    0.149017
2015-12-24    0.008767
2015-12-25    0.417726
2015-12-28    0.913799
2015-12-29    0.048344
2015-12-30    0.950224
2015-12-31    0.111980
Freq: B, Length: 261, dtype: float64

In [10]:
'''
5. Find the sum of the values in s for every Wednesday
'''

s[dti.weekday == 2].sum()

26.327508464083735

In [14]:
'''
6. Average For each calendar month
'''

s.resample('M').mean()

2015-01-31    0.534658
2015-02-28    0.559852
2015-03-31    0.571127
2015-04-30    0.536590
2015-05-31    0.489048
2015-06-30    0.524425
2015-07-31    0.427576
2015-08-31    0.322847
2015-09-30    0.478587
2015-10-31    0.425972
2015-11-30    0.541935
2015-12-31    0.478073
Freq: M, dtype: float64

In [18]:
'''
7. For each group of four consecutive calendar months in s, find the date on which the highest value occurred.
'''

s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-12
2015-05-31   2015-02-12
2015-09-30   2015-06-03
2016-01-31   2015-12-21
dtype: datetime64[ns]